/*
".leaflet-container" Displays the container that holds the map
*/
.leaflet-container {
    width: 100%;
    height: 100%;
}

.leaflet-routing-container {
    display: none;
}

.ResultTable {
    margin-top: 5%;
    position: absolute;
    text-align: center;
    border-radius: 20px;
    overflow: hidden;
    overflow-y: auto;
    z-index: 1;
    margin-left: 0.5ch;
}

.MapBody {
    position: relative;
    background-size: 400% 400%;
    height: 100%;
    overflow: hidden;
}

.MapHolder {
    z-index: 0;
    position: absolute;
    height: 100%;
    width: 100%;
}

.ResultTable td {
    padding: 1ch;
}

.ResultTable td:first-child {
    border-bottom: 1px solid #000;
}

.ResultTable td:last-child {
    display: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    width: calc(2ch + 134px);
    height: calc(2ch + 97px);
}

.ResultTable tr:first-child td:first-child {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.ResultTable tr:first-child td:last-child {
    border-top-right-radius: 20px;
}

.ResultTable tr:last-child td:first-child {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom: 0;
}

.ResultTable tr:last-child td:last-child {
    border-bottom-right-radius: 20px;
}

#r1d1:hover~#r1d2,
#r2d1:hover~#r2d2,
#r3d1:hover~#r3d2,
#r4d1:hover~#r4d2 {
    display: block;
}

#r1d1:hover {
    border-top-right-radius: 0;
}

#r4d1:hover {
    border-bottom-right-radius: 0;
}

#timeIcon,
#distanceIcon,
#emissionsIcon {
    width: 24px;
    height: 24px;
}

.MiniTable td {
    padding: 0.2ch;
}

.MiniTable th {
    margin: 0;
    display: block;
    margin-left: 5px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
}

.MiniTable td:first-child {
    border-bottom: 0;
}

.searchBarHolderMap {
    text-align: center;
    display: flex;
    flex-direction: row;
    padding: 1ch;
    position: absolute;
    z-index: 1;
    overflow: visible;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
}

.s-B1 {
    padding: 2ch;
}

.s-B2 {
    padding: 2ch;
}


/*
  CSS ahead sets the design of the "Search!" button, still inside of the "searchBarHolder" div.
*/

.search-ButtonMap {
    margin-top: 1.3ch;
    width: 5ch;
    height: min-content;
    border-radius: 10px;
    font-size: 2.5ch;
    background-color: #6bbd5a;
    border: 1px solid white;
}

/*
  CSS ahead sets the design of when hovering over the "Search!" button.
*/

.search-ButtonMap:hover {
    background-color: #49ad35;
    border: none;
}

@media screen and (max-width: 1440px) {

    /*
	  Minimizing icons on smaller screens.
  */
    .result-Table tr td img {
        height: 80px;
    }
}

/* 
  Styling when the screen is smaller than 900px 
*/
@media screen and (max-width: 1100px) {

    /*
	  The following CSS compresses the search-related content on smaller screens.
  */
    .searchBarHolderMap {
        margin: auto;
        text-align: center;
        display: flex;
        flex-direction: column;
        padding: 1ch;
        align-content: center;
        width: 400px;
        height: 200px;
        margin-left: 25%;
        margin-right: 25%;
    }

    .s-B1 {
        padding: 0.5ch;
        margin-top: auto;
        height: 200px;
    }

    .s-B2 {
        padding: 0.5ch;
        margin: auto;
        height: 200px;
    }

    .search-ButtonMap {
        margin-top: 0.5ch;
        margin: auto;
    }
}